/*Product info*/

.product-more {
    margin-bottom: 50px;
}

.product-details .product-title {
    margin-bottom: 50px;
    font-size: 30px;
}

.product-details p {
    margin-bottom: 40px;
    font-size: 14px;
    text-align: justify;
}

.product-details span {
    font-size: 16px;
}

.product-details .product-price {
    margin-bottom: 20px;
}

.product-size {
    margin-bottom: 40px;
}

.action-buttons button {
    padding: 0 20px;
    margin-right: 20px;
    line-height: 40px;
    background-color: #323232;
    color: #fff;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #fb758d;
}
