html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #272c32;
}

body {
    min-width: 480px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

a, button, h2, h3, h5, input, option, p, select, ul {
    padding: 0;
    margin: 0;
}

button, input, option, select {
    box-sizing: border-box;
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 450px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }
    .flex-wrapper {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 994px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*Top header*/

.top-header {
    background-color: #ecf0f1;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
}

.support, .welcome, .user-block span {
    display: none;
}

.user-settings {
    width: 100%;
    text-align: right;
}

.user-settings-list li {
    display: inline-block;
    padding: 0 5px;
}

.user-settings-item {
    position: relative;
}

.user-settings-item button {
    background-color: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer;
}

.user-settings-list li:hover {
    background-color: #fb758d;
    color: #fff;
}

.currency-list-dropdown,
.language-list-dropdown {
    display: none;
    position: absolute;
    top: 45px;
    background-color: #fff;
    border: 1px solid #ecf0f1;
    color: #000;
}

.currency-list-dropdown li,
.language-list-dropdown li {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.flag {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 5px;
}

.flag-uk {
    background-image: url("../images/flag-uk.png");
}

.currency-sign {
    font-weight: bold;
}

.currency-sign, .user-block .fa {
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .support, .welcome {
        display: block;
    }
    .user-block span {
        display: inline;
    }
    .user-settings {
        width: auto;
        text-align: right;
    }
    .support-info {
        width: 140px;
        line-height: 40px;
        vertical-align: middle;
    }
    .welcome-message {
        width: 200px;
        font-size: inherit;
        text-align: center;
    }
}


/*Main header*/

.main-header {
    padding-top: 0;
    padding-bottom: 10px;
}

.logo {
    text-align: center;
}

.search {
    display: none;
    width: 370px;
}

.search-block {
    position: relative;
    left: 50%;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #ecf0f1;
    font-size: 0;
    transform: translateX(-50%);
}

.search-input {
    width: 240px;
    padding-left: 15px;
}

.category-selector:before {
    content: "|";
    padding-right: 5px;
}

.category-selector {
    width: 90px;
    background-color: #fff;
    line-height: 38px;
    font-size: 12px;
    cursor: pointer;
}

.category-selector:hover {
    background-color: #ecf0f1;
}

.search-btn {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 40px;
    line-height: 40px;
    background-color: #272c32;
    cursor: pointer;
}

.search-btn .fa-search {
    color: #fff;
}

.shopping-cart {
    display: none;
    margin-top: 10px;
    text-align: right;
    color: #000;
    font-weight: bold;
}

.shopping-cart .fa-shopping-basket {
    width: 43px;
    height: 43px;
    margin-right: 10px;
    background-color: #fb758d;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
}

.shopping-cart .fa-shopping-basket:before {
    line-height: 43px;
    color: #fff;
}

.shopping-cart:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    .main-header {
        padding: 40px 0;
    }
    .logo {
        text-align: left;
    }
    .search {
        display: block;
    }
    .shopping-cart {
        display: block;
    }
}


/*Main navigation*/

.main-nav {
    min-height: 40px;
    background-color: #272c32;
    margin-bottom: 25px;
    color: #fff;
}

.main-nav-link {
    display: block;
    padding: 0 15px;
    line-height: 55px;
    font-size: 12px;
    font-weight: bold;
}

.main-nav-link:hover,
.main-nav-link.active,
.main-nav-btn:hover,
.show-search-btn:hover,
.show-basket-btn:hover {
    background-color: #fb758d;
}

.main-nav-btn,
.show-search-btn,
.show-basket-btn {
    display: inline-block;
    width: 50px;
    background-color: #272c32;
    text-align: center;
    cursor: pointer;
}

.show-search-btn,
.show-basket-btn {
    float: right;
}

.main-nav-btn .fa,
.show-search-btn .fa,
.show-basket-btn .fa {
    line-height: 50px;
    color: #fff;
}

.show-basket-btn .fa-shopping-basket {
    margin: 0;
}

.main-nav-dropdown {
    display: none;
}

.main-nav-item {
    display: block;
}

.main-nav-list {
    min-width: inherit;
}

@media screen and (min-width: 768px) {
    .main-nav-btn, .show-search-btn, .show-basket-btn {
        display: none;
    }
    .main-nav-dropdown {
        display: block;
    }
    .main-nav-list {
        min-width: 650px;
        font-size: 0;
    }
    .main-nav-item {
        display: inline-block;
    }
    .fa-home {
        margin-right: 5px;
    }
}


/*Sidebar*/

.sidebar {
    position: relative;
    width: 100%;
    top: 0;
    background-color: #fff;
}

@media screen and (min-width: 1024px) {
    .sidebar {
        position: absolute;
        top: 55px;
        width: 270px;
    }
}

.sidebar-nav-block {
    display: none;
}

@media screen and (min-width: 1024px) {
    .sidebar-nav-block {
        display: block;
        min-height: 370px;
        margin-bottom: 30px;
        background-color: #272c32;
        color: #fff;
    }
    .sidebar-nav-title {
        padding-left: 20px;
        background-color: #3d454f;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 14px;
    }
    .sidebar-nav-title .fa-list-ul {
        margin-right: 10px;
    }
    .sidebar-nav-link {
        position: relative;
        display: block;
        padding: 0 20px;
        line-height: 40px;
        font-weight: bolder;
    }
    .sidebar-nav-link.with-icon:after {
        position: absolute;
        right: 15px;
        content: "\f067";
        font-family: "FontAwesome";
    }
    .sidebar-nav-link.active,
    .sidebar-nav-link:hover {
        background-color: #3d454f;
    }
    .sidebar-nav-link.with-icon.active:after {
        content: "\f068";
    }
    .sidebar-nav-link.show-more {
        background-color: #25292f;
        line-height: 46px;
    }
}


/*Filter*/

.filter-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-block-title {
    display: none;
}

.show-filter-btn {
    display: block;
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: #fb758d;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
}

.filter-dropdown {
    display: none;
}

.filter {
    padding-left: 15px;
    margin-bottom: 30px;
}

.filter-title {
    font-size: 12px;
    margin-bottom: 20px;
}

.price-slider-container {
    width: 220px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.slider-bar {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #272c32;
}

.slider-pointer {
    position: absolute;
    bottom: -5px;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border: 4px solid #272c32;
    border-radius: 50%;
    box-shadow: 0 2px 2px #d1d1d1;
    z-index: 2;
}

.slider-pointer:hover {
    border-color: #fb758d;
    transform: scale(1.2);
}

.start {
    left: 10%;
}

.end {
    right: 10%;
}

.slider-progress {
    position: absolute;
    left: 10%;
    display: block;
    width: 80%;
    height: 2px;
    background-color: #fb758d;
}

.price-input-container {
    font-size: 0;
}

*[class^="filter-price-"] {
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
    vertical-align: top;
}

.filter-price-field {
    width: 70px;
    padding: 0 10px;
    border: 1px solid white;
    box-sizing: border-box;
    height: 30px;
    font-size: 12px;
}

.filter-price-btn {
    width: 60px;
    height: 30px;
    padding: 10px;
    background-color: #fb758d;
    box-shadow: 0 2px 5px #d1d1d1;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-price-btn:hover {
    background-color: #fa4364;
}

.color-list, .size-list {
    font-size: 0;
}

.size-item {
    display: inline-block;
    width: 28px;
    margin-right: 10px;
}

.size-link {
    display: block;
    width: 100%;
    border: 1px solid #ecf0f1;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.size-link.active,
.size-link:hover {
    background-color: #fb758d;
    border-color: #fb758d;
    color: #fff;
}

.color-item {
    display: inline-block;
}

.color-link {
    display: block;
    width: 20px;
    height: 20px;
}

.blue {
    background-color: #45a7e6;
}

.orange {
    background-color: #ff623f;
}

.green {
    background-color: #2ac373;
}

.turquoise {
    background-color: #39cec8;
}

.light-brown {
    background-color: #b19c89;
}

.lavender {
    background-color: #a2a9df;
}

.red {
    background-color: #f84e4f;
}

.grey {
    background-color: #c6c5cd;
}

.black {
    background-color: #171717;
}

.spring-green {
    background-color: #52e493;
}

.dark-turquoise {
    background-color: #00bcd2;
}

.purple {
    background-color: #8975ee;
}

@media screen and (min-width: 1024px) {
    .filter-block {
        display: block;
    }
    .filter-block-title {
        display: block;
        padding-left: 10px;
        margin-bottom: 30px;
        border-left: 2px solid #006579;
        line-height: 25px;
        font-size: 14px;
    }
    .show-filter-btn {
        display: none;
    }
    .filter-dropdown {
        display: block;
    }
}


/*Today deals*/

.deals-block {
    display: none;
}

@media screen and (min-width: 1024px) {
    .deals-block {
        display: block;
        position: relative;
    }
    .deals-block-title {
        padding-left: 10px;
        margin-bottom: 30px;
        border-left: 2px solid #006579;
        line-height: 25px;
        font-size: 14px;
    }
    .deals-pagination {
        position: absolute;
        right: 0;
        top: 0;
    }
    *[class^="pagination-btn-"] {
        display: inline-block;
        width: 30px;
        margin-right: 5px;
        border: 2px solid #272c32;
        text-align: center;
    }
    *[class^="pagination-btn-"]:hover {
        background-color: #fb758d;
        border-color: #fb758d;
        color: #fff;
    }
    .pagination-btn-next {
        margin-right: 0;
    }
    .deals-pagination .fa {
        vertical-align: middle;
        font-size: 20px;
        line-height: 30px;
    }
    .deals-item-date {
        color: #fb758d;
    }
}


/*Advertising*/

.advertising-block {
    display: none;
}

@media screen and (min-width: 1024px) {
    .advertising-block {
        display: block;
        position: relative;
    }
    .advertising-btn {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        line-height: 36px;
        padding: 0 35px;
        background-color: transparent;
        border: 2px solid #000;
        color: #000;
    }
    .advertising-btn:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


/*Main content*/

main {
    position: relative;
}

.main-content {
    width: auto;
    margin-left: 0;
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
    .main-content {
        margin-left: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .main-content {
        width: 870px;
    }
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs-item {
    display: inline-block;
    color: #9e9e9e;
}

.breadcrumbs-link.active,
.breadcrumbs-link:hover {
    color: #272c32;
}

.promo-banner {
    display: none;
}

@media screen and (min-width: 1024px) {
    .promo-banner {
        display: block;
        margin-bottom: 45px;
        padding: 60px;
        background-image: url("../images/bike1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
    }
    .promo-banner-title {
        margin-bottom: 20px;
        font-size: 24px;
        text-transform: uppercase;
    }
    .promo-banner-text {
        display: block;
        max-width: 450px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .promo-banner-btn {
        display: inline-block;
        padding: 0 35px;
        background-color: #fff;
        line-height: 46px;
        font-size: 14px;
        color: #272c32;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1024px) {
    .catalog-grid {
        min-height: 1180px;
    }
}

.catalog-panel {
    margin-bottom: 20px;
}

.catalog-show,
.catalog-sorter,
.catalog-view {
    float: left;
}

.catalog-pagination {
    font-size: 0;
}

.catalog-panel:first-of-type .catalog-pagination {
    display: none;
}

.catalog-panel:last-of-type .catalog-pagination {
    float: left;
}

.catalog-view {
    min-width: 60px;
    margin-right: 15px;
}

.catalog-view a {
    display: block;
    float: left;
    width: 30px;
    border: 1px solid #ecf0f1;
    box-sizing: border-box;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    color: #272c32;
}

.catalog-view a.active {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.catalog-view a:not(.active):hover {
    background-color: #ecf0f1;
}

.catalog-sorter {
    min-width: 105px;
}

.show-btn,
.sort-by-btn {
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #fff;
    border: 1px solid #ecf0f1;
    line-height: 28px;
    color: #272c32;
    cursor: pointer;
}

.show-btn:hover,
.sort-by-btn:hover {
    background-color: #ecf0f1;
}

.show-btn .fa, .sort-by-btn .fa {
    padding-left: 5px;
    color: #d1d1d1;
}

.show-dropdown,
.sort-by-dropdown {
    display: none;
}

.catalog-pagination-item {
    display: inline-block;
    width: 28px;
    margin-right: 10px;
    border: 1px solid #ecf0f1;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
}

.catalog-pagination-item.next,
.catalog-pagination-item.prev {
    background-color: #0d0d0d;
    border-color: #0d0d0d;
    color: #fff;
}

.catalog-pagination-item.active,
.catalog-pagination-item:not(.prev):not(.next):hover {
    background-color: #fb758d;
    border-color: #fb758d;
    color: #fff;
}

.catalog-pagination-item:last-child {
    margin-right: 0;
}

.catalog-panel:last-of-type .catalog-show,
.catalog-panel:last-of-type .catalog-sorter,
.catalog-panel:last-of-type .catalog-view {
    display: none;
}

@media screen and (min-width: 768px) {
    .catalog-panel:first-of-type .catalog-pagination {
        display: block;
    }
    .catalog-pagination {
        float: right !important;
    }
}

@media screen and (min-width: 1024px) {
    .catalog-panel:last-of-type .catalog-show,
    .catalog-panel:last-of-type .catalog-sorter,
    .catalog-panel:last-of-type .catalog-view {
        display: block;
    }
}


/*product tile*/

.product-tile {
    position: relative;
    width: 270px;
    margin-bottom: 30px;
    border: 1px solid #ecf0f1;
    box-sizing: border-box;
}

.catalog-grid .product-tile {
    width: 330px;
}

.label:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    display: block;
    width: 10px;
    height: 2px;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 44px;
    line-height: 24px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.label-sale:before {
    background-color: #006579;
}

.label-sale {
    background-color: #006579;
}

.label-new:before {
    background-color: #faa202;
}

.label-new {
    background-color: #faa202;
}

.product-img img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.hover-effect {
    position: relative;
    text-align: center;
}

.hover-effect .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 101, 121, 0.5);
    transition: transform 0.35s;
    transform: scale(0, 1);
    z-index: 2;
}

.hover-effect:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hover-effect .overlay .fa {
    background-color: #006579;
    border: 2px solid #fff;
    border-radius: 50%;
}

.hover-effect .overlay .fa:hover {
    background-color: #faa202;
}

.hover-effect .overlay .fa-shopping-basket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-width: 4px;
    margin-right: 0;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.hover-effect .actions {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.hover-effect .action-item {
    display: inline-block;
}

.hover-effect .action-item .fa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.product-info {
    padding: 5px 20px;
    background-color: #006579;
    text-align: center;
    color: #fff;
    line-height: 25px;
}

.deals-item .product-info {
    padding-top: 15px;
    text-align: left;
}

.product-rate .fa {
    margin-right: 5px;
    color: #faa202;
    font-size: 12px;
}

.price-sale {
    margin-right: 5px;
    font-size: 14px;
    color: #fb758d;
}

.price-sale:after {
    content: "/";
    padding-left: 5px;
}

.deals-item .price-sale:after {
    content: none;
}

.price-real {
    text-decoration: line-through;
}

@media screen and (min-width: 1200px) {
    .catalog-grid .product-tile {
        width: 270px;
    }
}


/*Additional info*/

.add-info-block {
    padding: 25px 0;
    background-color: #006579;
    color: #fff;
    text-align: center;
}

.add-info-block .flex-wrapper {
    justify-content: space-around;
}

.add-info-title {
    margin-bottom: 25px;
    font-size: 14px;
}

.add-info-title .fa {
    margin-right: 5px;
}

.subscribe {
    position: relative;
    width: 370px;
}

.subscribe-input {
    width: 100%;
    padding: 0 20px;
    line-height: 42px;
}

.subscribe-btn {
    position: absolute;
    top: 1px;
    right: 0;
    padding-left: 25px;
    padding-right: 20px;
    background-color: #fff;
    border-left: 2px solid #fb758d;
    line-height: 40px;
    cursor: pointer;
}

.hotline {
    width: 170px;
    margin-top: 50px;
}

.hotline-tel {
    margin-bottom: 10px;
    font-size: 14px;
}

.payments {
    width: 370px;
    margin-top: 50px;
}

.payments-types ul {
    font-size: 0;
}

.payments-icon {
    display: inline-block;
    width: 42px;
    height: 28px;
    margin-right: 10px;
}

.payments-icon img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hotline {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .payments {
        margin-top: 0;
    }
    .add-info-block .flex-wrapper {
        justify-content: space-between;
    }
}


/*Footer*/

.main-footer {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #272c32;
    color: #fff;
}

.main-footer .flex-wrapper {
    justify-content: space-around;
}

.follow-us {
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
}

.follow-us p {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 14px;
}

.footer-logo {
    margin-bottom: 20px;
}

.social-list {
    font-size: 0;
}

.social-item {
    display: inline-block;
    margin-right: 15px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-link {
    display: block;
    width: 40px;
    background: transparent;
    border: 1px solid #a2abb6;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 38px;
    font-size: 14px;
    font-family: "FontAwesome";
    opacity: 0.5;
}

.social-link:hover {
    background-color: #006579;
    border-color: #fff;
    opacity: 1;
}

div [class^="footer-nav-"] {
    width: 170px;
}

.footer-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.footer-list {
    line-height: 30px;
}

.footer-link .fa {
    width: 25px;
}

.footer-link:hover {
    color: #fb758d;
}

.footer-link-bordered .fa {
    width: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 2px solid #fb758d;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 26px;
    text-align: center;
}

.contact-us {
    width: 270px;
}

.copyrights {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}

.footer-nav-account, .footer-nav-category {
    display: none;
}

@media screen and (min-width: 1024px) {
    .follow-us {
        width: 270px;
        margin: 0;
    }
    .follow-us p {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .footer-nav-account, .footer-nav-category {
        display: block;
    }
    .main-footer .flex-wrapper {
        justify-content: space-between;
    }
}


/*modal content*/

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 50px;
    color: inherit;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.modal-content.register {
    width: 500px;
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #d1d1d1;
    cursor: pointer;
}

.modal-content-close:hover {
    color: inherit;
}

.modal-content-title {
    font-size: 0;
}

.modal-content-title li {
    display: inline-block;
    width: 50%;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-top: none;
    box-sizing: border-box;
    color: #d1d1d1;
}

.modal-content-title li.active {
    border-top: 1px solid #d1d1d1;
    border-bottom: none;
    color: #272c32;
}

.modal-content-title h3 {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"], .login-form input[type="tel"], .login-form input[type="password"] {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 40px 10px 20px;
    font-family: inherit;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #272c32;
}

.register .registration-row {
    font-size: 0;
}

.register .login-form input, .register .login-form label {
    display: inline-block;
    font-size: 14px;
}

.register .login-form label {
    width: 30%;
}

.register .login-form label:after {
    content: "\00a0*";
}

.register .login-form input {
    width: 70%;
}

.login-btn {
    width: 100%;
    margin-top: 15px;
    background-color: #272c32;
    line-height: 46px;
    text-transform: uppercase;
    color: #fff;
}

.login-btn:hover {
    background-color: #3d454f;
}

.remember-block {
    margin: 10px 0;
    line-height: 20px;
}

.remember-block input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

.remember-block label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}


/*Product info*/

.product-more {
    justify-content: flex-start;
    margin-bottom: 50px;
}

.product-more .product-tile {
    border: none;
    width: 100%;
}

.product-more .product-tile .label {
    display: none;
}

.product-more .product-title {
    margin-bottom: 50px;
    font-size: 30px;
}

.product-details {
    width: 100%;
}

.product-details p {
    margin-bottom: 40px;
    font-size: 14px;
    text-align: justify;
}

.product-details span {
    font-size: 16px;
}

.product-details .product-price {
    margin-bottom: 20px;
}

.product-size {
    margin-bottom: 40px;
}

.action-buttons button {
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    background-color: #272c32;
    color: #fff;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #fb758d;
}

@media screen and (min-width: 768px) {
  .product-more .product-tile,
  .product-details {
    width: 50%;
  }
}

/*Account info*/

.account-info {
    justify-content: flex-start;
    margin-bottom: 50px;
}

.account-foto, .account-data {
    width: 100%;
}

.account-data {
    min-height: 30px;
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
}

.account-data table {
    margin-bottom: 20px;
}

.account-data td:first-child {
    padding-right: 20px;
}

.account-data-title {
    margin-bottom: 20px;
}

.account-foto img {
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change-password {
    text-decoration: underline;
}

.account-data-list .fa {
    width: 25px;
}

.account-data a:hover {
    color: #fb758d;
}

@media screen and (min-width: 768px) {
  .account-foto, .account-data {
      width: 30%;
  }
}
