body {
    min-width: 1130px;
    margin: 0;
    background-color: #e3f1f9;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
}

/*HEADER*/

header {
    background: #111a29;
}

.header-content {
    background-image: url('images/header-bg.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 180px;
    color: #fff;
}

.meeting-info {
    height: 180px;
    display: table-cell;
    vertical-align: middle;
}

.meeting-info h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}

.meeting-address {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 300;
    color: #bfd4de;
    text-transform: uppercase;
}

.meeting-date {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}


/*MAIN*/

.main {
    background: #e3f1f9;
    padding-bottom: 35px;
}

.step-number {
    background: #bfd4de;
    padding: 15px 0;
}

.step-number h2 {
    padding-left: 50px;
    margin: 0;
    color: #364654;
    font-size: 20px;
}


/*FORM*/

.form-block {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 30px;
    color: #364654;
}

.form-note {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 35px;
    font-style: italic;
}

.column {
    float: left;
    margin-bottom: 35px;
    margin-left: 20px;
}

label {
    margin-bottom: 30px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

tr {
    vertical-align: middle;
    line-height: 35px;
}

td {
    padding: 15px 0;
}

td:nth-child(odd) {
    text-align: right;
}

label.required:after {
    content: "*";
}

input,
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    width: 245px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: inset 1px 2px 2px #e0e0e0;
    outline: none;
}


/*for IE10*/

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url("images/icon.png");
    background-size: 20px 20px;
    background-position: 215px;
    background-repeat: no-repeat;
}

.form-block .btn {
    clear: both;
    display: block;
    background-color: #364654;
    margin-left: 35px;
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
    line-height: 35px;
    text-transform: uppercase;
}


/*FOOTER*/

footer {
    min-height: 30px;
    background-color: #364654;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 12px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.copy {
    float: left;
}

.copy p {
    margin: 0;
}

.add-info {
    float: right;
}

.add-info a {
    border-bottom: 1px dotted #fff;
    margin-right: 15px;
}

.add-info a:last-child {
    margin-right: 0;
}
