.main-nav {
    min-height: 40px;
    background-color: $dark-grey;
    margin-bottom: 25px;
    color: $white;
}

.main-nav-link {
    display: block;
    padding: 0 15px;
    line-height: 55px;
    font-size: 12px;
    font-weight: bold;
}

.main-nav-link:hover,
.main-nav-link.active,
.main-nav-btn:hover,
.show-search-btn:hover,
.show-basket-btn:hover {
    background-color: $pink;
}

.main-nav-btn,
.show-search-btn,
.show-basket-btn {
    display: inline-block;
    width: 50px;
    background-color: $dark-grey;
    text-align: center;
    cursor: pointer;
}

.show-search-btn, .show-basket-btn {
    float: right;
}

.main-nav-btn .fa,
.show-search-btn .fa,
.show-basket-btn .fa {
    line-height: 50px;
    color: $white;
}

.show-basket-btn .fa-shopping-basket {
    margin: 0;
}

.main-nav-dropdown {
    display: none;
}

.main-nav-item {
    display: block;
}

.main-nav-list {
    min-width: inherit;
}

@media screen and (min-width: 768px) {
  .main-nav-btn, .show-search-btn, .show-basket-btn {
      display: none;
  }

  .main-nav-dropdown {
      display: block;
  }

  .main-nav-list {
      min-width: 650px;
      font-size: 0;
  }

  .main-nav-item {
      display: inline-block;
  }

  .fa-home {
      margin-right: 5px;
  }
}
