.modal-content {
    position: absolute;
    @include center;
    width: 300px;
    padding: 50px;
    color: inherit;
    font-size: 14px;
    background-color: $white;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .7);
    z-index: 5;

    p {
        margin: 0;
        margin-bottom: 14px;
    }

    .login-form {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.modal-content.register {
    width: 500px;
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: $white;
    color: $grey;
    cursor: pointer;

    &:hover {
        color: inherit;
    }
}

.modal-content-title {
    font-size: 0;

    li {
        display: inline-block;
        width: 50%;
        margin: 0;
        margin-bottom: 20px;
        border: 1px solid $grey;
        border-top: none;
        box-sizing: border-box;
        color: $grey;
    }

    li.active {
        border-top: 1px solid $grey;
        border-bottom: none;
        color: $dark-grey;
    }

    h3 {
        text-align: center;
        font-size: 30px;
        line-height: 42px;
    }
}


.login-form input[type="text"],
.login-form input[type="tel"],
.login-form input[type="password"] {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 40px 10px 20px;
    font-family: inherit;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid $dark-grey;
}

.register {
  .registration-row {
      font-size: 0;
  }

  .login-form input,
  .login-form label {
      display: inline-block;
      font-size: 14px;
  }

  .login-form label {
      width: 30%;

      &:after {
          content: "\00a0*";
      }
  }

  .login-form input {
    width: 70%;
  }

}

.login-btn {
    width: 100%;
    margin-top: 15px;
    background-color: $dark-grey;
    line-height: 46px;
    text-transform: uppercase;
    color: $white;

    &:hover {
        background-color: lighten($dark-grey, 10%);
    }
}

.remember-block {
    margin: 10px 0;
    line-height: 20px;

    input[type="checkbox"] {
        margin-right: 10px;
        vertical-align: middle;
    }

    label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
    }
}
